@model PortalEquador.Domain.DriversLicence.ViewModels.DriversLicenceViewModel

@{
    ViewData["Title"] = "Edit";
}
<style>
    img {
        opacity: 0.5;
    }

        img:hover {
            opacity: 1.0;
        }
</style>


<h1>Editar @Html.DisplayNameFor(model => model.Licence)</h1>
<h3>@ViewBag.username</h3>
<hr />
<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="PersonaInformationId" />
            <input type="hidden" asp-for="FullName" />
            <input type="hidden" asp-for="LicenceId" />
            <input type="hidden" asp-for="DateCreated" />


            <dl class="row">

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Licence)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.Licence.Description)
                </dd>
            </dl>

            <div class="form-group">
                <label asp-for="ExpirationDate" class="control-label"></label>
                <input id="expirationDate" asp-for="ExpirationDate" class="form-control" />
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>

            <br />


            <div class="form-group">
                <input asp-for="ImageFile" accept="image/*" onchange="preview()" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>


            <br />
            @if (Model.Error != null)
            {
                <div class="form-group">
                    <div class="alert alert-danger" role="alert">
                        <span asp-validation-for="Error"></span>
                    </div>
                </div>
                <br />
            }

            <br />
            <br />
            <div class="form-group">
                <a asp-action="Index" asp-route-identifier="@ViewBag.identifier" asp-route-fullName="@ViewBag.username" class="btn btn-dark">Regressar ao index</a> &nbsp;
                <input type="submit" value="Criar registo" class="btn btn-primary" />
            </div>
        </form>
    </div>

<div class="col-md-8">
        <div class="row">
            <div class="col-sm-6">
                <label for="Image" class="form-label">Documento atual</label>
                <br />
                <img id="frame2" src="@Url.Content(Model.LicenceDocument.PicturePath)" class="card-img-top">
            </div>

            <div class="col-sm-6">
                <label for="Image" class="form-label">Documento para substituir </label>
                <br />
                <img id="frame" src="" class="img-fluid" />
            </div>
        </div>
</div>

</div>

@section Scripts {
    <script>
        window.onload = function () {
            var checked = document.getElementById('expirationDateAvailable').checked;
            var elem = document.getElementById('expirationDate');
            elem.disabled = checked;
        };
        function preview() {
            frame.src = URL.createObjectURL(event.target.files[0]);
        }
        function clearImage() {
            document.getElementById('formFile').value = null;
            frame.src = "";
        }
        function noExpirationDate() {
            var elem = document.getElementById('expirationDate');
            elem.disabled = !elem.disabled;
            elem.value = '';
        }
    </script>
}