@model IEnumerable<PortalEquador.Domain.DriversLicence.ViewModels.DriversLicenceDetailViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<br />
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalInformation.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle" width="100">
                   ---
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.PersonalInformation.FullName)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Licence.Description)
                </td>
                <td class="align-middle">
                    @switch (item.Status)
                    {
                        case PortalEquador.Domain.DriversLicence.LicenceStatus.Updated:
                            <span class="badge bg-success">@item.StatusDescription</span>
                            break;
                        case PortalEquador.Domain.DriversLicence.LicenceStatus.Expired:
                            <span class="badge bg-danger">@item.StatusDescription</span>
                            break;
                        case PortalEquador.Domain.DriversLicence.LicenceStatus.Provisional_Renewal_Updated:
                            <span class="badge bg-primary">@item.StatusDescription</span>
                            break;
                        case PortalEquador.Domain.DriversLicence.LicenceStatus.Provisional_Renewal_Expired:
                            <span class="badge bg-warning">@item.StatusDescription</span>
                            break;
                        case PortalEquador.Domain.DriversLicence.LicenceStatus.No_Expiration_Date:
                            <span class="badge bg-danger">@item.StatusDescription</span>
                            break;
                        default:
                            break;
                    }
                </td>
                <td class="align-middle">

                        @if (item.Status != PortalEquador.Domain.DriversLicence.LicenceStatus.Updated)
                        {
                        <a asp-action="RenewLicence" asp-route-identifier="@item.PersonaInformationId" class="btn btn-success"><i class="fas fa-refresh" title="Renovar carta de condução"></i> Carta</a>
                        <a asp-action="RenewProvisional" asp-route-identifier="@item.PersonaInformationId" class="btn btn-success">
                                @if (item.ProvisionalExpirationDate == null)
                                {
                                    <i class="fas fa-plus" title="Adicionar verbete"></i>
                                 }
                                 else {
                                    <i class="fas fa-refresh" title="Renovar verbete"></i>
                                 }
                                Verbete
                            </a>
                        }
                        <a asp-action="Details" asp-route-identifier="@item.PersonaInformationId" class="btn btn-info"><i class="fas fa-eye" title="Detalhe"></i></a>
                    
                </td>
            </tr>
        }

    </tbody>
</table>
@section Scripts{
    <script>
        $(function () {

            $('.table').DataTable();

            $('.deleteBtn').click(function (e) {
                swal({
                    title: "Remover Grupo",
                    text: "Tem a certeza que pretende eliminar o registo?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#groupId').val(id);
                        $('#deleteFrom').submit();

                    }
                });
            });
        });
    </script>
}
