@model PortalEquador.Domain.DriversLicence.ViewModels.DriversLicenceViewModel_Finak

@{
    ViewData["Title"] = "RenewProvisional";
}

<h1>Renovar Verbete</h1>
<h4>Para: @Model.PersonalInformation.FullName</h4>
<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action="RenewProvisional" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="PersonaInformationId" />
            <input type="hidden" asp-for="ExpirationDate" />
            <input type="hidden" asp-for="LicenceId" />
            <input type="hidden" asp-for="ExpirationDateAvailable" />
            <input type="hidden" asp-for="ProvisionalRenewalNumber" />
            <input type="hidden" asp-for="DateCreated" />

             @if (@Model.ProvisionalRenewalNumber != null)
            {

                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-sm-8">
                        <h5>
                            @switch (@Model.Status)
                            {
                                case PortalEquador.Domain.DriversLicence.LicenceStatus.Updated:
                                    <span class="badge bg-success">@Html.DisplayFor(model => model.StatusDescription)</span>
                                    break;
                                case PortalEquador.Domain.DriversLicence.LicenceStatus.Expired:
                                    <span class="badge bg-danger">@Html.DisplayFor(model => model.StatusDescription)</span>
                                    break;
                                case PortalEquador.Domain.DriversLicence.LicenceStatus.Provisional_Renewal_Updated:
                                    <span class="badge bg-primary">@Html.DisplayFor(model => model.StatusDescription)</span>
                                    break;
                                case PortalEquador.Domain.DriversLicence.LicenceStatus.Provisional_Renewal_Expired:
                                    <span class="badge bg-warning">@Html.DisplayFor(model => model.StatusDescription)</span>
                                    break;
                                case PortalEquador.Domain.DriversLicence.LicenceStatus.No_Expiration_Date:
                                    <span class="badge bg-danger">@Html.DisplayFor(model => model.StatusDescription)</span>
                                    break;
                                default:
                                    break;
                            }
                        </h5>
                </dd>
            </dl>
                
            }



            <div class="form-group">
                <label asp-for="ProvisionalExpirationDate" class="control-label"></label>
                <input id="expirationDate" asp-for="ProvisionalExpirationDate" class="form-control" />
            </div>

            <br />

            <div class="form-group">
                <input asp-for="ImageFile" accept="image/*" onchange="preview()" class="form-control" type="file" />
            </div>

            <br />

            @if (@Model.ProvisionalRenewalNumber != null)
            {
                <dl class="row">
                    <dt class="col-sm-8">
                        @Html.DisplayNameFor(model => model.ProvisionalRenewalNumber)
                    </dt>
                    <dd class="col-sm-4">
                        @Html.DisplayFor(model => model.ProvisionalRenewalNumber)
                    </dd>
                </dl>

                <br />
            }




























            <div class="form-group">
                <a asp-action="Index" class="btn btn-dark">Regressar ao index</a> &nbsp;
                <input type="submit" value="Guardar Alterações" class="btn btn-warning" />
            </div>

        </form>
    </div>

    <div class="col-md-8">

        <div class="col-md-8">
            @foreach (var item in Model.Documents)
            {
                @if (item.Document.Id == PortalEquador.Constants.ItemFromGroup.Documents.PROVISIONAL_DRIVERS_LICENCE)
                {
                    <img id="frame" src="@Url.Content(@item.PicturePath)" class="img-fluid">
                }
            }
            <img id="frame" src="" class="img-fluid" />
        </div>

    </div>

</div>
@section Scripts{
    <script>
        function preview() {
            frame.src = URL.createObjectURL(event.target.files[0]);
            //document.getElementById('prevname').classList.add("hidden")
        }
        function clearImage() {
            document.getElementById('formFile').value = null;
            frame.src = "";
        }
        function noExpirationDate() {
            var elem = document.getElementById('expirationDate');
            elem.disabled = !elem.disabled;
            elem.value = '';
        }
    </script>
}

