@model PortalEquador.Domain.DriversLicence.ViewModels.DriversLicenceViewModel

@{
    ViewData["Title"] = "RenewLicence";
}

<h1>Renovar Carta de condução</h1>
<hr />


<div class="row">
    <div class="col-md-5">
        <form asp-action="RenewLicence" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="PersonaInformationId" />
            <input type="hidden" asp-for="LicenceId" />
            <input type="hidden" asp-for="ExpirationDateAvailable" />



            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Licence)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Licence.Description)
                </dd>
            </dl>


            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-8">
                    <h5>
                        @switch (@Model.Status)
                        {
                            case PortalEquador.Util.LicenceStatusType.Updated:
                                <span class="badge bg-success">@Html.DisplayFor(model => model.StatusDescription)</span>
                                break;
                            case PortalEquador.Util.LicenceStatusType.Expired:
                                <span class="badge bg-danger">@Html.DisplayFor(model => model.StatusDescription)</span>
                                break;
                            case PortalEquador.Util.LicenceStatusType.Provisional_Renewal_Updated:
                                <span class="badge bg-primary">@Html.DisplayFor(model => model.StatusDescription)</span>
                                break;
                            case PortalEquador.Util.LicenceStatusType.Provisional_Renewal_Expired:
                                <span class="badge bg-warning">@Html.DisplayFor(model => model.StatusDescription)</span>
                                break;
                            case PortalEquador.Util.LicenceStatusType.No_Expiration_Date:
                                <span class="badge bg-danger">@Html.DisplayFor(model => model.StatusDescription)</span>
                                break;
                            default:
                                break;
                        }
                    </h5>
                </dd>
            </dl>



            <div class="form-group">
                <label asp-for="ExpirationDate" class="control-label"></label>
                <input id="expirationDate" asp-for="ExpirationDate" class="form-control" />
            </div>

            <br />

            <div class="form-group">
                <div class="alert alert-warning" role="alert">
                    @PortalEquador.Util.Constants.StringConstants.Alert.DELETE_PROVISIONAL_DRIVERS_LICENCE
                </div>
            </div>
            <br />
            <br />

            <div class="form-group">
                <a asp-action="Index" class="btn btn-dark">Regressar ao index</a> &nbsp;
                <input type="submit" value="Guardar Alterações" class="btn btn-warning" />
            </div>

        </form>
    </div>

    <div class="col-md-7">
        @if (Model.LicenceDocument != null)
        {
            <img id="frame" src="@Url.Content(@Model.LicenceDocument.PicturePath)" class="img-fluid">
        }

    </div>

</div>