@model PortalEquador.Domain.Languages.ViewModels.LanguageViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar lingua</h1>
<h3>@Html.DisplayNameFor(model => model.Language):  @Html.DisplayFor(model => model.Language.Description)</h3>
<hr />
<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="PersonaInformationId" />
            <input type="hidden" asp-for="FullName" />
            <input type="hidden" asp-for="LanguageId" />
            <input type="hidden" asp-for="DateCreated" />

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsMaternalLanguage" onChange="MaternalSelect()" id="Maternal" /> @Html.DisplayNameFor(model => model.IsMaternalLanguage)
                </label>
            </div>
            <br />

            <div class="form-group" id="Oral">
                <label asp-for="OralLevelId" class="control-label"></label>
                <select asp-for="OralLevelId" class="form-select" asp-items="Model.OralLevels"></select>
            </div>
            <br />

            <div class="form-group" id="Written">
                <label asp-for="WrittenLevelId" class="control-label"></label>
                <select asp-for="WrittenLevelId" class="form-select" asp-items="Model.WrittenLevels"></select>
            </div>
            <br />
            <br />
            <div>
                <a asp-action="Index" asp-route-identifier="@ViewBag.identifier" asp-route-fullName="@ViewBag.username" class="btn btn-dark">Regressar ao index</a> &nbsp;
                <input type="submit" value="Guardar Alterações" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>

        function MaternalSelect() {

            var response = document.getElementById('Maternal').checked;
            var oral = document.getElementById('Oral');
            var written = document.getElementById('Written');
            oral.hidden = response;
            written.hidden = response;
        }

        window.onload = function () {
            MaternalSelect()
        };
    </script>
}

