@using PortalEquador.Domain.MechanicalWorkshop
@using PortalEquador.Domain.MechanicalWorkshop.Scheduler
@using PortalEquador.Domain.MechanicalWorkshop.CarWash
@model PortalEquador.Domain.MechanicalWorkshop.CarWash.ViewModels.CarWashSearchDayPlannerViewModel

@{
    ViewData["Title"] = "Pesquisa";
}



<div class="row align-items-center">
    <div class="col-md-10">
        <h1>Oficina Morro Bento</h1>
        <h4> Pesquisa - Lavagens </h4>
    </div>
    <div class="col-md-2 text-right">
        <a asp-controller="MechanicalWorkshop" asp-action="Index" class="btn btn-dark"> <i class="fas fa-info-circle" title="Regressar ao Painel"></i> Regressar ao Painel</a>
    </div>
</div>
<hr />
<br />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Search">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="LicencePlate" class="control-label"></label>
                <dl class="row">
                    <dt class="col-sm-3">
                        <div class="form-group">
                            <select asp-for="VehicleId" class="form-select" asp-items="Model.Vehicles" id="vehicleDropdown"></select>
                        </div>
                    </dt>
                </dl>
            </div>

            <br />
            <br />

            @if (Model.NoLicencePlateSelected())
            {
                <h4> Nenhuma matricula selecionada</h4>
            }

            @if (Model.NoSchedules())
            {
                <h4> Não existem agendamentos marcados. </h4>
            }

            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (var intervention in Model.Interventions)
                {

                    <div class="col">

                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => intervention.Vehicle.LicencePlate)</h5>
                                <br />
                                <h6 class="card-title">Data: @Html.DisplayFor(modelItem => intervention.ScheduleDate)</h6>
                                <p class="card-text">Hora: @Html.DisplayFor(modelItem => intervention.InterventionTime.Description)</p>
                                <p class="card-text">
                                    Contracto: @Html.DisplayFor(modelItem => intervention.Contract.Description)
                                </p>

                                @switch (intervention.ScheduleType)
                                {
                                    case CarWashSchedulerType.BlockedDateInThePast:
                                        <a asp-action="Details" asp-route-id="@intervention.Id" asp-route-origin="search" class="btn btn-info"><i class="fas fa-eye" title="Detalhe"></i></a>
                                        <a href="#" class="btn btn-light">
                                            <i class="fas fa-solid fa-lock"></i>
                                        </a>
                                        break;

                                   default:
                                        <a asp-action="Details" asp-route-id="@intervention.Id" asp-route-origin="search" class="btn btn-info"><i class="fas fa-eye" title="Detalhe"></i></a>
                                        @if (intervention.CurrentState == CarWashState.Open)
                                        {
                                            <a asp-action="Delete" asp-route-id="@intervention.Id" asp-route-origin="search" asp-route-vehicleId="@intervention.Vehicle.Id" class="btn btn-danger"><i class="fas fa-trash-can" title="Remover"></i></a>
                                        }
                                        break;
                                }

                                @switch (intervention.CurrentState)
                                {
                                    case CarWashState.Open:
                                        <br />
                                        <hr />
                                        <a asp-action="Confirm" asp-route-id="@intervention.Id" asp-route-origin="search" asp-route-vehicleId="@intervention.Vehicle.Id" class="btn btn-success"><i class="fas fa-check"></i> Realizada</a>
                                        <br /> <br />
                                        <a asp-action="NotPerformed" asp-route-id="@intervention.Id" asp-route-origin="search" asp-route-vehicleId="@intervention.Vehicle.Id" class="btn btn-danger"><i class="fas fa-xmark"></i> Não realizada</a>

                                        break;

                                    default:
                                        @switch (intervention.CurrentState)
                                        {
                                            case CarWashState.NotPerformed:
                                                <span class="badge bg-danger">@intervention.StatusDescription</span>
                                                break;
                                            case CarWashState.Performed:
                                                <span class="badge bg-success">@intervention.StatusDescription</span>
                                                break;
                                            default:
                                                break;
                                        }
                                        break;
                                }


                            </div>
                        </div>
                    </div>
                }
            </div>

        </form>
    </div>

</div>

@section Scripts {

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Select2 library -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            // Apply Select2 to the dropdown
            $('#vehicleDropdown').select2({
                placeholder: "Selecione uma viatura",
                allowClear: true,
                theme: "bootstrap-5"
            });

            // Attach the change event listener after initializing Select2
            $('#vehicleDropdown').on('change', function () {
                var vehicleId = $(this).val();
                handleVehicle(vehicleId);
            });

        });
    </script>

    <script>

        function handleVehicle(vehicleId) {
            window.location.href = `/CarWashScheduler/Search?vehicleId=${vehicleId}`;
        }

        function handleVehicleChange() {
            var vehicleDropdown = document.getElementById("vehicleDropdown");
            vehicleDropdown.addEventListener("change", function () {
                var vehicleId = this.value;
                handleVehicle(vehicleId)
            });
        }

    </script>

}