@model PortalEquador.Domain.Education.School.ViewModels.SchoolViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Educação escolar</h1>
<h3>@Html.DisplayNameFor(model => model.Institution):  @Html.DisplayFor(model => model.Institution.Description)</h3>
<hr />
<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="PersonaInformationId" />
            <input type="hidden" asp-for="FullName" />
            <input type="hidden" asp-for="InstitutionId" />
            <input type="hidden" asp-for="MajorId" />

            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Major)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Major.Description)
                </dd>
            </dl>

          
            <div class="form-group" id="Oral">
                <label asp-for="DegreeId" class="control-label"></label>
                <select asp-for="DegreeId" class="form-select" asp-items="Model.Degrees"></select>
            </div>
            <br />

            <br />
            <div>
                <a asp-action="Index" asp-route-identifier="@Model.PersonaInformationId" asp-route-fullName="@Model.FullName" class="btn btn-dark">Regressar ao index</a> &nbsp;
                <input type="submit" value="Guardar Alterações" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

