@model PortalEquador.Domain.Education.School.ViewModels.SchoolViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Educação escolar</h1>
<h3>@Html.DisplayNameFor(model => model.Institution):  @Html.DisplayFor(model => model.Institution.Description)</h3>
<hr />
<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="PersonaInformationId" />
            <input type="hidden" asp-for="FullName" />
            <input type="hidden" asp-for="InstitutionId" />
            <input type="hidden" asp-for="MajorId" />
            <input type="hidden" asp-for="MajorNotDeclared" />
            <input type="hidden" asp-for="DateCreated" />

            @if (Model.MajorNotDeclared)
            {
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="MajorNotDeclared" id="MajorNotDeclaredId" disabled="true" /> @Html.DisplayNameFor(model => model.MajorNotDeclared)
                    </label>
                </div>
                <br />
            } else
            {
                <dl class="row" id="Major">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Major)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Major.Description)
                    </dd>
                </dl>
            }

          
            <div class="form-group">
                <label asp-for="DegreeId" class="control-label"></label>
                <select asp-for="DegreeId" class="form-select" asp-items="Model.Degrees"></select>
            </div>
            <br />

            @if (Model.Error != null)
            {
                <div class="form-group">
                    <div class="alert alert-danger" role="alert">
                        <span asp-validation-for="Error"></span>
                    </div>
                </div>
            }

            <br />
            <div>
                <a asp-action="Index" asp-route-identifier="@ViewBag.identifier" asp-route-fullName="@ViewBag.username" class="btn btn-dark">Regressar ao index</a> &nbsp;
                <input type="submit" value="Guardar Alterações" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>

        function MajorSelect() {

            var response = document.getElementById('MajorNotDeclaredId').checked;
            var major = document.getElementById('Major');
            major.hidden = response;
        }

        window.onload = function () {
            MajorSelect()
        };
    </script>
}

