@model PortalEquador.Domain.MechanicalWorkshop.Vehicle.ViewModels.VehicleDetailViewModel

@{
    ViewData["Title"] = "Details";
}
<br />
<h1>Detalhes</h1>
<h3>Matrícula: @Model.LicencePlate</h3>
<div>
    <hr />
    <br />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contract)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class="col-sm-10">
            @if (@Model.Active)
            {
                <span class="badge bg-success">Ativo</span>
            }
            else
            {
                <span class="badge bg-danger">Inativo</span>
            }
        </dd>
        

        @if (@Model.DateModified != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateModified)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateModified)
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateCreated)
            </dd>
        }

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Editor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Editor)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-dark">Regressar ao index</a> &nbsp;
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar registo</a>
</div>