@model IEnumerable<PortalEquador.Domain.GroupTypes.ViewModels.GroupItemViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Grupos</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> Criar Grupo</a>
</p>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observation)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observation)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-pencil-alt" title="Editar"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-eye" title="Detalhe"></i></a>

                    <button data-id="@item.Id" class="btn btn-danger deleteBtn" type="button" hidden> <i class="far fa-trash-alt"></i></button>
                    <a asp-controller="GroupItem" asp-action="Index" asp-route-groupId="@item.Id" asp-route-groupName="@item.Description" class="btn btn-success"> <i class="fas fa-info-circle" title="Ver items "></i> Items</a>
                </td>
            </tr>
        }
    </tbody>
</table>



<form id="deleteFrom" asp-action="Delete">
    <input type="hidden" id="groupId" name="Id" />
</form>

@section Scripts {
    <script>
        $(function () {

            $('.table').DataTable();

            $('.deleteBtn').click(function (e) {
                swal({
                    title: "Remover Grupo",
                    text: "Tem a certeza que pretende eliminar o registo?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#groupId').val(id);
                        $('#deleteFrom').submit();

                    }
                });
            });
        });
    </script>
}
