@model PortalEquador.Domain.Scheduler.MechanicalWorkshop.ViewModels.MechanicalWorkshopSchedulerViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Criar Novo Agendamento</h1>
<h4>@Html.DisplayFor(model => model.ScheduleDate)</h4>

<hr />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.InterventionTime)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.InterventionTime.Description)
                </dd>
            </dl>

            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Mechanic)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Mechanic.Description)
                </dd>
            </dl>

            <div class="form-group">
                <label asp-for="LicencePlate" class="control-label"></label>
                <dl class="row">
                    <dt class="col-sm-3">
                        <input asp-for="Contract" class="form-control text-center" maxlength="2" />
                    </dt>
                    <dt class="col-sm-3">
                        <input asp-for="Contract" class="form-control text-center" maxlength="2" />
                    </dt>
                    <dt class="col-sm-3">
                        <input asp-for="Contract" class="form-control text-center" maxlength="2" />
                    </dt>
                </dl>
                <span asp-validation-for="LicencePlate" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Contract" class="control-label"></label>
                <input asp-for="Contract" class="form-control" />
                <span asp-validation-for="Contract" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Service" class="control-label"></label>
                <input asp-for="Service" class="form-control" />
                <span asp-validation-for="Service" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" type="number" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <span asp-validation-for="Error" class="text-danger"></span>
            </div>

            <br />
            <br />
            <div class="form-group">
                <a asp-action="Index" class="btn btn-dark" asp-route-groupId="@ViewBag.groupId" asp-route-groupName="@ViewBag.groupName">Regressar ao index</a> &nbsp;
                <input type="submit" value="Criar registo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


