@model PortalEquador.Domain.Scheduler.MechanicalWorkshop.ViewModels.LoloVml

@{
    ViewData["Title"] = "Index";
}

<h1>Oficina Morro Bento</h1>
<h4> Planificação de trabalhos - Revisão dos veículos da frota </h4>
<hr />
<br />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="MainTime" class="control-label"></label>
                    <input id="expirationDate" asp-for="MainTime" class="form-control" />
                    <span asp-validation-for="MainTime" class="text-danger"></span>
                </div>
            </div>
            <br />
            <br />

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Horário</th>
                        @foreach (var times in Model.Mechanics)
                        {
                            <th scope="col">@Html.DisplayFor(modelItem => times.Description )</th>
                        }
                    </tr>
                </thead>
                <tbody>


                    @foreach (var times in Model.RegisteredTime)
                    {
                        <tr>
                            <th class="align-middle"><p class="fs-5">@Html.DisplayFor(modelItem => times.Value.Description )</p></th>

                            @foreach (var schedules in Model.RegisteredDictionary[times.Key])
                            {
                                <td>
                                    @if (schedules.Id == -1)
                                    {
                                        <div class="card text-center">
                                            <div class="card-body">
                                                <h5 class="card-title">Sem agendamento</h5>
                                                <p class="card-text">Horário livre</p>

                                                <a asp-action="Create" class="btn btn-success" asp-route-date="@Model.MainTime" asp-route-scheduleId="@times.Value.Id" asp-route-mechanicId="@schedules.Mechanic.Id">
                                                    <i class="fas fa-plus"></i> Agendar
                                                </a>

                                            </div>
                                        </div>
                                    } else {
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">@Html.DisplayFor(modelItem => schedules.LicencePlate  )</h5>
                                                <p class="card-text">Contracto: @Html.DisplayFor(modelItem => schedules.Contract)</p>
                                                <a asp-action="Edit" asp-route-id="@schedules.Id" class="btn btn-warning"><i class="fas fa-pencil-alt" title="Editar"></i></a>
                                                <a asp-action="Details" asp-route-id="@schedules.Id" class="btn btn-info"><i class="fas fa-eye" title="Detalhe"></i></a>
                                                <a asp-action="Delete" asp-route-id="@schedules.Id" class="btn btn-danger"><i class="fas fa-trash-can" title="Remover"></i></a>
                                            </div>
                                        </div>
                                    }

                                </td>
                            }
                        </tr>
                    }
                    

                </tbody>
            </table>

        </form>
    </div>

    <div class="col-md-8">
        <label for="Image" class="form-label">Pré-visualização</label>
        <br />
        <img id="frame" src="" class="img-fluid" />
    </div>

</div>






