@model IEnumerable<PortalEquador.Domain.GroupTypes.ViewModels.GroupItemViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index - @ViewBag.groupName</h1>

<p>
    <a asp-action="Create" asp-route-groupId="@ViewBag.groupId" asp-route-groupName="@ViewBag.groupName" class="btn btn-success"><i class="fas fa-plus"></i> Criar Novo Registo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th style="width:640px;">
                @Html.DisplayNameFor(model => model.Observation)
            </th>

            <th> </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="align-middle" style="width:740px;">
                    @Html.DisplayFor(modelItem => item.Observation)
                </td>
                <td class="align-middle">
                    @if (@item.Active)
                    {
                        <span class="badge bg-success">Ativo</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Inativo</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-groupId="@ViewBag.groupId" asp-route-groupName="@ViewBag.groupName" class="btn btn-warning"><i class="fas fa-pencil-alt" title="Editar"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-groupId="@ViewBag.groupId" asp-route-groupName="@ViewBag.groupName" class="btn btn-info"><i class="fas fa-eye" title="Detalhe"></i></a>
                    @if (@item.Active)
                    {
                        <button data-id="@item.Id" class="btn btn-danger deleteBtn" type="button">Desativar</button>
                    }
                    else
                    {
                        <button data-id="@item.Id" class="btn btn-success allocateBtn" type="button">Ativar</button>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

<form id="deactivateItem" asp-action="DeactivateItem" asp-route-groupId="@ViewBag.groupId" asp-route-groupName="@ViewBag.groupName">
    <input type="hidden" id="groupDeactiviationItemId" name="Id" />
</form>

<form id="activateItem" asp-action="ActivateItem" asp-route-groupId="@ViewBag.groupId" asp-route-groupName="@ViewBag.groupName">
    <input type="hidden" id="groupActiviationItemId" name="Id" />
</form>

<br />
<a asp-controller="Group" asp-action="Index" class="btn btn-dark"> <i class="fas fa-chevron-left" title="Regressar aos grupos "></i> Regressar aos grupos</a>

@section Scripts {
    <script>
        $(function () {

            $('.table').DataTable();

            $('.deleteBtn').click(function (e) {
                swal({
                    title: "Desativar item",
                    text: "Tem a certeza que pretende desativar o registo?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#groupDeactiviationItemId').val(id);
                        $('#deactivateItem').submit();

                    }
                });
            });

            $('.allocateBtn').click(function (e) {
                swal({
                    title: "Ativar item",
                    text: "Tem a certeza que pretende ativar o registo?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#groupActiviationItemId').val(id);
                        $('#activateItem').submit();
                    }
                });
            });

        });
    </script>
}