@model IEnumerable<PortalEquador.Domain.Profession.Experience.ViewModels.ProfessionalExperienceDetailViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row align-items-center">
    <div class="col-md-10">
        <h1>@ViewBag.username</h1>
        <h3>Experiência Profissional</h3>
        <p>
            <a asp-controller="ProfessionalExperience" asp-action="Create" asp-route-identifier="@ViewBag.identifier" asp-route-fullName="@ViewBag.username" class="btn btn-success"><i class="fas fa-plus"></i> Criar Novo Registo</a>
        </p>
    </div>
    <div class="col-md-2 text-right">
        <a asp-controller="Curriculum" asp-action="Dashboard" asp-route-identifier="@ViewBag.identifier" class="btn btn-success"> <i class="fas fa-info-circle" title="Regressar ao Painel"></i> Regressar ao Painel</a>
    </div>
</div>
<hr />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Workstation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Workstation.Description)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Company.Description)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Duration)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-identifier="@ViewBag.identifier" asp-route-fullName="@ViewBag.username" class="btn btn-warning"><i class="fas fa-pencil-alt" title="Editar"></i></a>
                    <button data-id="@item.Id" class="btn btn-danger deleteBtn" type="button" data-identifier="@ViewBag.identifier" data-username="@ViewBag.username"><i class="fas fa-trash-alt" title="Editar"></i></button>
                </td>
        </tr>
}
    </tbody>
</table>


<form id="deleteExperience" asp-action="DeleteExperience">
    <input type="hidden" id="experienceId" name="Id" />
    <input type="hidden" id="identifier" name="identifier" />
    <input type="hidden" id="username" name="username" />
</form>


@section Scripts {
    <script>
        $(function () {

            $('.table').DataTable();

            $('.deleteBtn').click(function (e) {
                swal({
                    title: "Eliminar experiência profissional",
                    text: "Tem a certeza que pretende eliminar a experiência profissional?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        var identifier = btn.data("identifier");
                        var username = btn.data("username");
                        $('#experienceId').val(id);
                        $('#identifier').val(identifier);
                        $('#username').val(username);
                        $('#deleteExperience').submit();

                    }
                });
            });
        });

    </script>
}

