@model PortalEquador.Domain.MechanicalWorkshop.Admin.ViewModels.AdminMechanicalWorkshopViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar contratos associados</h1>
<h3>@Html.DisplayNameFor(model => model.user.UserName)</h3>

<hr />
<br />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="user.UserId" />
            <input type="hidden" asp-for="user.UserName" />
            <input type="hidden" asp-for="user.Role" />
            <input type="hidden" asp-for="DateCreated" />

            <h6>Contratos</h6>
            <hr />

            @for (int index = 0; index < Model.AllContracts.Count; index++)
            {
                <div class="form-check">
                    <input asp-for="@Model.SelectedContracts[index]" class="form-check-input" type="checkbox" id="@Model.AllContracts[index].Id" />
                    <label asp-for="@Model.SelectedContracts[index]" class="form-check-label">
                        @Html.DisplayFor(modelItem => @Model.AllContracts[index].Description)
                    </label>
                </div>
            }

        <br />
        <br />
        <div class="form-group">
            <a asp-action="Index" class="btn btn-dark">Regressar ao index</a> &nbsp;
            <input type="submit" value="Guardar Alterações" class="btn btn-warning" />
        </div>


        </form>

    </div>
</div>