@model IEnumerable<PortalEquador.Domain.MechanicalWorkshop.Admin.ViewModels.AdminMechanicalWorkshopViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row align-items-center">
    <div class="col-md-10">
        <h1>Oficina Morro Bento</h1>
        <h4>Administradores</h4>
    </div>
    <div class="col-md-2 text-right">
        <a asp-controller="MechanicalWorkshop" asp-action="Index" class="btn btn-dark"> <i class="fas fa-info-circle" title="Regressar ao Painel"></i> Regressar ao Painel</a>
    </div>
</div>
<hr />
<br />


<p>
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> Criar Administrador</a>
</p>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.user.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contracts)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle"> 
                    @Html.DisplayFor(modelItem => item.user.UserName)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.user.Role)
                </td>
                <td class="align-middle">
                    @foreach (var contract in item.MarkedContracts())
                    {
                        @Html.DisplayFor(modelItem => contract.Description)
                        <br />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.user.UserId" class="btn btn-warning"><i class="fas fa-pencil-alt" title="Editar"></i></a>
                    <button class="btn btn-danger deleteBtn" type="button" data-identifier="@item.user.UserId"><i class="fas fa-trash-alt" title="Eliminar"></i></button>

                </td>
              
            </tr>
        }
    </tbody>
</table>

<form id="deleteContracts" asp-action="DeleteContracts">
    <input type="hidden" id="identifier" name="identifier" />
</form>


@section Scripts {
    <script>
        $(function () {

            $('.table').DataTable();

            $('.deleteBtn').click(function (e) {
                swal({
                    title: "Eliminar permissões",
                    text: "Tem a certeza que pretende eliminar as permissões do utilizador?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var identifier = btn.data("identifier");
                        $('#identifier').val(identifier);
                        $('#deleteContracts').submit();

                    }
                });
            });


        });
    </script>
}
