@model IEnumerable<PortalEquador.Domain.MechanicalWorkshop.Admin.ViewModels.AdminMechanicalWorkshopViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row align-items-center">
    <div class="col-md-10">
        <h1>Oficina Morro Bento</h1>
        <h4>Administradores</h4>
    </div>
    <div class="col-md-2 text-right">
        <a asp-controller="MechanicalWorkshop" asp-action="Index" class="btn btn-dark"> <i class="fas fa-info-circle" title="Regressar ao Painel"></i> Regressar ao Painel</a>
    </div>
</div>
<hr />
<br />


<p>
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> Criar Administrador</a>
</p>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contracts)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td class="align-middle">
                    @foreach (var contract in item.Contracts)
                    {
                        @Html.DisplayFor(modelItem => contract.ContractId)
                    }
                </td>
                <td></td>
              
            </tr>
        }
    </tbody>
</table>



@section Scripts {
    <script>
        $(function () {

            $('.table').DataTable();
        });
    </script>
}
