@model PortalEquador.Domain.Curriculum.ViewModels.CurriculumDashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<h1>Painel</h1>

<div>
    <br />
    <div class="row align-items-center">
        <div class="col-auto">
            <img src="@Url.Content(@Model.ProfileImagePath)" alt="" style="width: 90px; height: 90px" class="rounded-circle" />
        </div>
        <div class="col-auto">
            <h4>@Model.FullName</h4>
        </div>
    </div>
    <hr />


    <div class="row">

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dados pessoais</h5> 
                    @if(Model.IsPersonalInformationComplete){
                    <span class="badge bg-success">Completo</span>
                    }
                   else{
                    <span class="badge bg-warning">Incompleto</span>
                   }
                    <p class="card-text">Formulário para o registo de dados pessoais.</p>
                    <a asp-controller="PersonalInformation" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="fas fa-pencil-alt" title="Editar"></i></a>
                    <a asp-controller="PersonalInformation" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-info"><i class="fas fa-eye" title="Detalhe"></i></a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Documentos</h5>
                    <span class="badge bg-success">@Model.TotalDocuments Registo(s)</span>
                    <p class="card-text">Formulário para o registo de documentos.</p>
                    <a asp-controller="Document" asp-action="Create" asp-route-identifier="@Model.Id" asp-route-fullName="@Model.FullName" class="btn btn-success"><i class="fas fa-plus" title="Criar"></i></a>
                    @if (Model.TotalDocuments != 0)
                    {
                        <a asp-controller="Document" asp-action="Index" asp-route-identifier="@Model.Id" asp-route-fullName="@Model.FullName" class="btn btn-warning"><i class="fas fa-list" title="Index"></i></a>
                    }
                </div>
            </div>
        </div>

        <!--
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Carta de condução</h5>
                    @if (Model.IsDriversLicenceComplete)
                    {
                        <span class="badge bg-success">Completo</span>
                    }
                    else
                    {
                        <span class="badge bg-warning">Incompleto</span>
                    }
                    <p class="card-text">Formulário para o registo dos dados da carta de condução.</p>
                     @if(Model.IsDriversLicenceComplete){
                        <a asp-controller="DriversLicence" asp-action="Edit" asp-route-identifier="@Model.Id" class="btn btn-warning"><i class="fas fa-pencil-alt" title="Editar"></i></a>
                        <a asp-controller="DriversLicence" asp-action="Details" asp-route-identifier="@Model.Id" class="btn btn-info"><i class="fas fa-eye" title="Detalhe"></i></a>
                      }
                      else{
                        <a asp-controller="DriversLicence" asp-action="Create" asp-route-identifier="@Model.Id" class="btn btn-success"><i class="fas fa-plus" title="Criar"></i></a>
                    }

                </div>
            </div>
        </div>
        -->
    </div>

    <!--
    <br />
    <div class="row">

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Habilitações profissionais</h5>
                    <span class="badge bg-success">@Model.TotalCompetences Registo(s)</span>
                    <p class="card-text">Formulário para o registo de Habilitações profissionais pessoais.</p>
                    <a asp-controller="ProfessionalCompetence" asp-action="Index" asp-route-identifier="@Model.Id" asp-route-username="@Model.FullName" class="btn btn-warning"><i class="fas fa-list" title="Index"></i></a>
                    <a asp-controller="ProfessionalCompetence" asp-action="Create" asp-route-identifier="@Model.Id" asp-route-username="@Model.FullName" class="btn btn-success"><i class="fas fa-plus" title="Criar"></i></a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Experiências profissionais</h5>
                    <span class="badge bg-success">@Model.TotalExpertises Registo(s)</span>
                    <p class="card-text">Formulário para o registo de Experiência profissionais.</p>
                    <a asp-controller="ProfessionalExperience" asp-action="Index" asp-route-identifier="@Model.Id" asp-route-username="@Model.FullName" class="btn btn-warning"><i class="fas fa-list" title="Index"></i></a>
                    <a asp-controller="ProfessionalExperience" asp-action="Create" asp-route-identifier="@Model.Id" asp-route-username="@Model.FullName" class="btn btn-success"><i class="fas fa-plus" title="Criar"></i></a>
                </div>
            </div>
        </div>

    </div>
    -->


</div>