﻿@using PortalEquador.Util.Constants
@model IEnumerable<PortalEquador.Domain.Document.ViewModels.DocumentViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row align-items-center">
    <div class="col-md-10">
        <h1>@ViewBag.username</h1>
        <h3>Documentos</h3>
        <p>
            <a asp-controller="Document" asp-action="Create" asp-route-identifier="@ViewBag.identifier" asp-route-fullName="@ViewBag.username" class="btn btn-success"><i class="fas fa-plus"></i> Criar Novo Registo</a>
        </p>
    </div>
    <div class="col-md-2 text-right">
        <a asp-controller="Curriculum" asp-action="Dashboard" asp-route-identifier="@ViewBag.identifier" class="btn btn-success"> <i class="fas fa-info-circle" title="Regressar ao Painel"></i> Regressar ao Painel</a>
    </div>
</div>
<hr />


<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {

        <div class="col">
            <div class="card">
                <div class="img-container">
                    <img id="frame" src="@Url.Content(@item.PicturePath)" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.DocumentType.Description)</h5>
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.DocumentType.Group.Description)
                        @Html.DisplayFor(modelItem => item.Observation)
                        @if (item.DocumentTypeId == GroupTypesConstants.ItemFromGroup.Documents.DRIVERS_LICENCE
                       ||
                       item.DocumentTypeId == GroupTypesConstants.ItemFromGroup.Documents.DRIVERS_LICENCE_PROVISIONAL
                       )
                        {
                        @Html.DisplayFor(modelItem => item.SubType.Description)
                        }
                    </p>
                    <button class="btn btn-info" onclick="window.open('@Url.Content(@item.PicturePath)', '_blank')"><i class="fa-solid fa-up-right-and-down-left-from-center"></i></button>
                   

                    @if (item.DocumentTypeId != GroupTypesConstants.ItemFromGroup.Documents.DRIVERS_LICENCE 
                    &&
                   item.DocumentTypeId != GroupTypesConstants.ItemFromGroup.Documents.DRIVERS_LICENCE_PROVISIONAL
                    )
                    {
                        <button data-id="@item.Id" data-identifier="@ViewBag.identifier" data-username="@ViewBag.username" class="btn btn-danger deleteBtn" type="button"><i class="fas fa-trash" title="Remover"></i></button>
                    }

                    <form id="deleteDocument" asp-action="DeleteDocument">
                        <input type="hidden" id="documentId" name="Id" />
                        <input type="hidden" id="identifier" name="identifier" />
                        <input type="hidden" id="username" name="username" />
                    </form>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
        $(function () {

            $('.deleteBtn').click(function (e) {
                swal({
                    title: "Elimar documento",
                    text: "Tem a certeza que pretende eliminar o documento?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        var identifier = btn.data("identifier");
                        var username = btn.data("username");
                        $('#documentId').val(id);
                        $('#identifier').val(identifier);
                        $('#username').val(username);
                        $('#deleteDocument').submit();
                       
                    }
                });
            });


        });
    </script>
}